.main__button-red{
    padding: 0% 5%;
    border-style: none;
    background-color: #dd8080;
    color: #ffffff;
    font-size: 1.2em;
    margin: 7% 1%;
    height: 40%;
}

.main__button-blue{
    padding: 0% 5%;
    border-style: none;
    background-color: #8090ff;
    color: #ffffff;
    font-size: 1.2em;
    margin: 7% 1%;
    height: 40%;
}